/* body {
    background-color : lightslategray;
    background-image: url("../images/01-02-02_background-img.jpg") ;
}
 */
 body {
    background-color : lightslategray;
    background-image: url("/assets/images/01-02-02_background-img.jpg") ;
}

h1 { font-weight: bolder; }
h2 { color: orangered; }